{% extends '../../template.twig' %}
{% block main %}
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <main class="main-content max-height-vh-100 h-100">
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl ">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          
        </nav>
        
        
      </div>
    </nav>
    
       
        
        <div class="row my-4">
        <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type here...">
            </div>
          </div>
          <br> <br> <br> <br> 
          <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                   <table class="table align-items-center mb-0">
                       <thead>
                         <tr>
                           <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                           <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                           <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone number</th>
                           <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                           <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Address</th>
                           <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                         </tr>
                       </thead>
                       <tbody>
                           <tr>
                                <td>
                                   <div class="d-flex px-2 py-1">
                                       <div>
                                         <img src="../../../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="avatar image">
                                       </div>
                                       <div class="d-flex flex-column justify-content-center">
                                          <h6 class="mb-0 text-sm">John Michael</h6>
                                       </div>
                                    </div>
                                </td>
                                
                               
                                 <td>
                                  <span class="badge badge-dot me-4">
                                  <i class="bg-info"></i>
                                  <span class="text-dark text-xs">Organisateur</span>
                                  </span>
                                </td>
                                <td>
                                 <p class="text-sm text-secondary mb-0">58211412</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                   <p class="text-secondary mb-0 text-sm">john@user.com</p>
                                </td>
                                <td class="align-middle text-center">
                                   <span class="text-secondary text-sm">sfax route il ain km4</span>
                                 </td>
                                <td class="align-middle text-center">
                                   <span class="text-secondary text-sm">43431</span>
                                </td>
                           </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
    </main>
{% endblock %}  
{% block scripts %}
{{super()}}
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
{% endblock %}

